## All the secret envornment settings 
## will be here like secret keys and passwords
## SECURITY WARNING: keep this file used in production secret!


SECRET_KEY = ''

DATABASES = { 
    'default': {
        'ENGINE': '',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '', 
    }   
}
