## All the secret envornment settings 
## will be here like secret keys and passwords
## SECURITY WARNING: keep this file used in production secret!
## rename this file from 'secret_settings.py.template' to 'secret_settings.py' if you have not done yet


SECRET_KEY = ''

DATABASES = { 
    'default': {
        'ENGINE': '',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}
